In [15]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/christiangilson/Desktop/Hivemind/Quandl/Quandl_Equity_Prices.csv')

In [3]:
df_pepsi = df.loc[df['ticker'] == 'PEP']

In [5]:
df_coke = df.loc[df['ticker'] == 'KO']

In [9]:
df_coke['return'] = ((df_coke['split_ratio'] * (df_coke['close'] + df_coke['ex-dividend'])) / df_coke['close'].shift(1)) - 1.0
df_pepsi['return'] = ((df_pepsi['split_ratio'] * (df_pepsi['close'] + df_pepsi['ex-dividend'])) / df_pepsi['close'].shift(1)) - 1.0

/Users/christiangilson/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/christiangilson/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df_coke

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,return
7586911,KO,1962-01-02,101.00,103.75,101.0000,101.00,16800.0,0.0,1.0,0.266600,0.273859,0.266600,0.266600,1612800.0,NaN
7586912,KO,1962-01-03,99.50,99.50,97.2500,98.75,32800.0,0.0,1.0,0.262641,0.262641,0.256702,0.260661,3148800.0,-0.022277
7586913,KO,1962-01-04,99.00,100.25,99.0000,99.50,17600.0,0.0,1.0,0.261321,0.264621,0.261321,0.262641,1689600.0,0.007595
7586914,KO,1962-01-05,99.50,100.75,97.0000,97.25,29600.0,0.0,1.0,0.262641,0.265941,0.256042,0.256702,2841600.0,-0.022613
7586915,KO,1962-01-08,96.50,96.50,94.3800,96.25,42400.0,0.0,1.0,0.254722,0.254722,0.249126,0.254062,4070400.0,-0.010283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7600824,KO,2017-04-07,42.64,42.74,42.5100,42.61,11003504.0,0.0,1.0,42.640000,42.740000,42.510000,42.610000,11003504.0,-0.001406
7600825,KO,2017-04-10,42.73,42.80,42.5566,42.69,9056557.0,0.0,1.0,42.730000,42.800000,42.556600,42.690000,9056557.0,0.001877
7600826,KO,2017-04-11,42.68,42.75,42.5150,42.66,8856789.0,0.0,1.0,42.680000,42.750000,42.515000,42.660000,8856789.0,-0.000703
7600827,KO,2017-04-12,42.54,42.99,42.5100,42.94,11987157.0,0.0,1.0,42.540000,42.990000,42.510000,42.940000,11987157.0,0.006564
7600828,KO,2017-04-13,42.87,43.08,42.7800,42.79,9824612.0,0.0,1.0,42.870000,43.080000,42.780000,42.790000,9824612.0,-0.003493

In [12]:
df_pair = df_coke.merge(df_pepsi, on='date', how='inner', suffixes=('_coke','_pepsi'))

In [13]:
df_pair = df_pair[['return_coke','return_pepsi']]

In [19]:
df_pair = df_pair.loc[pd.isna(df_pair['return_coke']) == False]
df_pair = df_pair.loc[pd.isna(df_pair['return_pepsi']) == False]

In [22]:
df_pair.to_csv('coke_pepsi_paired_returns.csv', index=None)